.card {
  .card-header {
    background-color: #F8FAFC;
    color: #C82B32;
  }
  .card-footer {
    background-color: #F8FAFC;
    color: #C82B32;
  }
}

.fa {
  //color: #FFD648 !important;
  color: #C82B32 !important;
}

.jumbotron {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  margin-top: 68px;
}

.postscontainer {
  .card {
    //border: none;
    //border-radius: 0;
    height: 500px;
    margin-bottom: 20px;
    background-color: white;
    .card-header {
      height: 250px !important;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    .card-body {
      padding: 10px;
      .card-title {
        font-size: 1.3rem;
        margin-bottom: 0.3rem;
        a {
          color: black;
          text-decoration: none;
        }
      }
      .card-text {
        font-size: 0.9rem !important;
      }
    }
  }
}

.welcome {
  background-color: #fff !important;

  /*
  .card {
    border: 1px solid #A90B24;
    .card-header {
      background-color: #A90B24;
      color: #FFD648;
    }
    .card-footer {
      background-color: #A90B24;
      color: #FFD648;
    }
  }
  */
}
