
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;

@import 'node_modules/font-awesome/scss/font-awesome.scss';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #F8FAFC;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

  #navbarCollapse {
    li a {
      color: #C82B32;
    }
  }
}

.active {
  a {
    color: black !important;
  }
}

// Import a custom scss stylesheet
@import 'custom';
@import 'word_styles';
